# Fichiers volumineux (déjà découpés)
moteur_knn.pkl
matrice_hybride.npz
ia_memory.npy

# Données brutes et volumineuses
*.xlsx
*.csv
!data_checkpoint.csv

# Environnement Python
__pycache__/
*.pyc
.venv/
env/
.streamlit/
